<section
  class="software-section"
  style="background-image: url('assets/images/dashboard img.png')"
>
  <div class="container">
    <div class="software-content">
      <div class="main-heading text">
        <h1>Make your software better with appex.</h1>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="software-box">
            <img src="assets/images/soft-icon-1.png" alt="" />
            <p>Easy to Customize Components</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="software-box">
            <img src="assets/images/soft-icon-2.png" alt="" />

            <p>Superfast Run Time To Load</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="software-box">
            <img src="assets/images/soft-icon-3.png" alt="" />

            <p>User Friendly interface</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="software-box">
            <img src="assets/images/soft-icon-4.png" alt="" />

            <p>Easy Intragition Any Platform</p>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn-main">Try For Free</button>
  </div>
</section>
