<section class="features-section">
  <div class="features-content">
    <div class="container">
      <div class="main-heading">
        <h1>Amazing features</h1>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore.
        </p>
      </div>

      <div class="row ">
        <div class="col-md-4">
          <div class="features-box">
            <img src="assets/images/intragition-icon.png" alt="" />
            <h5>Easy Intragition</h5>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr love it
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="features-box">
            <img src="assets/images/communication-icon.png" alt="" />

            <h5>Communication</h5>
            <p class="features-infro-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr love it
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="features-box">
            <img src="assets/images/faster-icon.png" alt="" />
            <h5>Fastest rate</h5>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr love it
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
