<section class="pricing-section">
  <div class="container">
    <div class="pricing-plan">
      <div class="main-heading">
        <h1>Pricing & Plans</h1>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempo
        </p>
      </div>
    </div>

    <div class="subscription-type">
      <span class="active-status"> Yearly </span>
      <label class="switch m-0">
        <input type="checkbox" checked />
        <span class="slider cricle"></span>
      </label>
      <span class="active-status"> Monthly </span>
      <p class="saving mb-0">Save 20%</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-pricing">
          <div class="card-header">
            <h2>Personal</h2>
            <p>Only For One Person</p>
          </div>
          <div class="card-body main-heading">
            <h1 class="card-title ">$299</h1>
            <p class="card-text">per month</p>
            <button type="button" class="btn-main">Get Started Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-pricing">
          <div class="card-header">
            <h2>Team</h2>
            <p>Only For One Person</p>
          </div>
          <div class="card-body main-heading">
            <h1 class="card-title ">$299</h1>
            <p class="card-text">per month</p>
            <button type="button" class="btn-main">Get Started Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-pricing">
          <div class="card-header">
            <h2>Enterprise</h2>
            <p>Only For One Person</p>
          </div>
          <div class="card-body main-heading">
            <h1 class="card-title main-heading mb-0">$599</h1>
            <p class="card-text">per month</p>
            <button type="button" class="btn-main">Get Started Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
