<section class="results-section">
  <div class="container">
    <div class="sales-results">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="results-content">
            <div class="main-heading text">
              <h1>Provide best results to your customers.</h1>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore.
              </p>
            </div>
            <a class="learn-more" href="#">Learn More </a>
          </div>
        </div>
        <div class="col-md-7">
          <img  class="results-image" src="assets/images/data-image.png" alt="" />
        </div>
      </div>
    </div>
      <div class="row align-items-center">
        <div class="col-md-7">
          <img class="results-image" src="assets/images/last-data.png" alt="" />
        </div>
        <div class="col-md-5">
          <div class="results-content">
            <div class="main-heading text">
              <h1>Get customers to your product.</h1>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore.
              </p>
            </div>
            <a class="learn-more" href="#">Learn More </a>
          </div>
        </div>
      </div>
    
  </div>
</section>
