<section class="customers-section">
  <div class="container">
    <div class="customers-carousel">
      <div class="map-bg">
        <img src="assets/images/map-bg.png" alt="" />
      </div>
      <div class="main-heading text">
        <h1>Love from our customers.</h1>
      </div>
      <div id="clients-slider" class="owl-carousel owl-theme">
        <div>
          <div class="card-customer">
            <div class="card-header">
              <img
                class="card-img"
                src="assets/images/image-woman.png"
                alt=""
              />
              <div class="customer-data ">
                <h4>David Mark</h4>
                <p>CEO of Lapsas</p>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore.
              </p>
              <div class="rating-star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card-customer">
            <div class="card-header">
              <img class="card-img" src="assets/images/image-yong.png" alt="" />
              <div class="customer-data ">
                <h4>David Mark</h4>
                <p>CEO of Lapsas</p>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore.
              </p>
              <div class="rating-star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card-customer">
            <div class="card-header">
              <img class="card-img" src="assets/images/image-boy.png" alt="" />
              <div class="customer-data">
                <h4>David Mark</h4>
                <p>CEO of Lapsas</p>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore.
              </p>
              <div class="rating-star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
