<section
  class="platform-section"
  style="background-image: url('assets/images/name-webs.png')"
>
  <div class="container">
    <div class="platform-content">
      <div class="main-heading text">
        <h1>Integrated with your favorite platform</h1>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore.
        </p>
      </div>
      <a class="learn-more" href="#">Learn More </a>
    </div>
  </div>
</section>
