.main-massage {
  text-align: center;
  max-width: 564px;
  margin: auto;
  h1 {
    font-size: 90px;
    margin-bottom: 25px;
    font-weight: bold;
  }
  p {
    line-height: 34px;
    font-size: 20px;
    color: #81838c;
    margin-bottom: 48px;
  }
  
}

 

