/* _____ VARIABLES _____ */

$main-border-radius: 4;
$main-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
$main-transition: all 200ms ease-in-out;

// Colors
// ==========================================================================

$color-text: #fff;
$color-pink: #33ccff;
$color-default-light: #fff;
$color-default-dark: #333;
$color-default-darker: #000;

$color-main: #5f2749;
$color-secondary: #fa8967;

// Colors

$primary-color: #2354f3;
$secondary-color: #fa8967;

$primary-color-light: #9d2f4c;

$secondary-color-light: #fdc175;
$link-color: #00a6ed;
$facebook-color: #5263c6;
$twitter-color: #40c4ff;
$instagram-color: #a43564;

///////////////////////////////////////
// wepex-colors
$main-color: #416ff4;
$scond-main-color: #101c3d;
$footer-link-color: #687497;
$color-white:#FFFFFF;
$social-color: #0d152e;
$color-blue-dark: #0d152e;
$paragraph-color: #81838c;
$color-green-light: #2bd67b;
$saving-color: #2bd67b;
$start-color: #fbb040;
$border-form: #eaeced;
$border-accordion: #e5e5e5;
$background-cart: #f7f9fb;
$marker-color: #e58f2c;


