.pricing-section {
  margin-bottom: 150px;
}
.platform-section {
  margin-bottom: 100px;
}
.common-section {
  padding: 110px 0;
  position: relative;
}
.features-section {
  margin-bottom: 115px;
}
.software-section {
  margin-bottom: 144px;
}
.results-section {
  margin-bottom: 113px;
}
