{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/parts/header-two.njk" %}

<section class="career-details-content">
  <div class="container">
    <div class="career-details-box">
      <div class="main-heading sub-title">
        <h1>Customer Support Specialist</h1>
      </div>
      <ul class="details-list">
        <li>
          <i class="location fa fa-map-marker" aria-hidden="true"></i> Backicing
          Home , NYC, USA
        </li>

        <li><i class="cricle fa fa-circle" aria-hidden="true"></i>Full-time</li>
      </ul>
      <div class="condition-detiles">
        <div class="condition-about">
          <p>
            With over 25,000 customers worldwide, Appex is the world leading
            analytics and marketing suite for Instagram and a partner of the
            world's most-loved brands such as National Geographic, Gucci, Marc
            Jacobs, Samsung, Emirates and more.
          </p>
          <p>
            As a Customer Support Specialist, we expect you to be up-to-date
            with the latest digital technologies and social media trends. You
            should have excellent communication skills and be able to assist our
            customers in a fast, efficient and professional manner. If you enjoy
            fixing issues and helping improve the overall customer experience,
            this job is for you!
          </p>
        </div>
        <div class="condition-list">
          <h4 class="main-heading">Responsibilities</h4>
          <ul class="license-rules">
            <li>
              ✓ Provide industry leading customer support via e-mail, chat and
              social media
            </li>
            <li>
              ✓ Provide industry leading customer support via e-mail, chat and
              social media
            </li>
            <li>
              ✓ Provide industry leading customer support via e-mail, chat and
              social media
            </li>
            <li>
              ✓ Provide industry leading customer support via e-mail, chat and
              social media
            </li>
            <li>
              ✓ Provide industry leading customer support via e-mail, chat and
              social media
            </li>                                                         
            <li>
              ✓ Improve the customer experience by taking a proactive approach
              in solving
            </li>
            <li>
              ✓ Take ownership of issues and follow problems through to
              resolution.
            </li>
            <li>
              ✓ Assist in developing customer support procedures, policies and
              standards
            </li>
          </ul>
        </div>
        <div class="condition-list">
          <h4 class="main-heading">Requirements</h4>
          <ul>
            <li>
              ✓ Provide industry leading customer support via e-mail, chat and
              social media
            </li>
            <li>
              ✓ Improve the customer experience by taking a proactive approach
              in solving
            </li>
            <li>
              ✓ Take ownership of issues and follow problems through to
              resolution.
            </li>
            <li>
              ✓ Assist in developing customer support procedures, policies and
              standards
            </li>
          </ul>
        </div>
        <button type="button" class="btn-main">Apply Now</button>
      </div>
    </div>
  </div>
</section>
<section class="career-details-footer">
  <div class="email-details">
    <h1 class="main-heading">Apply now</h1>

    <form method="POST" class="signin-form">
      <div class="form-group">
        <label for="name">Your Name </label>
        <input type="text" class="form-control" placeholder="John Doe" />
      </div>
      <div class="form-group">
        <label for="name"> Email</label>
        <input
          type="text"
          class="form-control"
          placeholder="example@gmail.com"
        />
      </div>
      <div class="form-group">
        <label>Position</label>
        <select class="form-control">
          <option>Choose position</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">CV (url) </label>
        <input
          type="text"
          class="form-control"
          placeholder="GitHub, LinkedIn etc"
        />
      </div>
      <div class="form-group">
        <label>How did you hear about us?</label>
        <select class="form-control">
          <option>google , facebook, friend etc</option>
          <option>google , facebook, friend etc</option>
          <option>google , facebook, friend etc</option>
          <option>google , facebook, friend etc</option>
          <option>google , facebook, friend etc</option>
        </select>
      </div>
      <div class="form-group">
        <label>Why you are perfect for this role?</label>
        <textarea
          class="form-control form-textarea"
          rows="3"
          placeholder="Tell us more about you"
        ></textarea>
      </div>

      <button type="submit" class="btn btn-main btn-block">Submit Now</button>
    </form>
  </div>
</section>

{% include "templates/parts/footer-two.njk" %} {% endblock %}
