{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/parts/header-two.njk" %}
<section
  class="case-details-header"
  style="background-image: url(assets/images/career-image.png)"
>
  <div class="container">
    <div class="main-tilte">
      <p>Development</p>

      <div class="main-heading">
        <h1>
          Saas app development from idea to live. Bring to the table win-win
          survival strategies to ensure.
        </h1>
      </div>

      <div class="team-infro text-center">
        <div class="time-line">
          <p class="title">Timeline</p>
          <p class="text">
            <i class="fa fa-circle" aria-hidden="true"></i>2019-2020
          </p>
        </div>
        <div class="roles">
          <p class="title">Our Role</p>
          <p class="text">
            <i class="fas fa-pen-nib"></i>
            <img src="assets/images/pen-nib.svg" alt="" />Design
          </p>
        </div>
        <div class="team">
          <p class="title">Team Members</p>
          <p class="text">David Henricks</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="case-details-content">
  <div class="container">
    <div class="condition-detiles">
      <div class="condition-about">
        <p>
          With over 25,000 customers worldwide, Appex is the world leading
          analytics and marketing suite for Instagram and a partner of the
          world's most-loved brands such as National Geographic, Gucci, Marc
          Jacobs, Samsung, Emirates and more.
        </p>
        <p>
          As a Customer Support Specialist, we expect you to be up-to-date with
          the latest digital technologies and social media trends. You should
          have excellent communication skills and be able to assist our
          customers in a fast, efficient and professional manner. If you enjoy
          fixing issues and helping improve the overall customer experience,
          this job is for you!
        </p>
      </div>
      <div class="condition-about">
        <h4>About the project</h4>

        <p>
          With over 25,000 customers worldwide, Appex is the world leading
          analytics and marketing suite for Instagram and a partner of the
          world's most-loved brands such as National Geographic, Gucci, Marc
          Jacobs, Samsung, Emirates and more. As a Customer Support Specialist,
          we expect you to be up-to-date with the latest digital technologies
          and social media trends.
        </p>
      </div>
      <div class="condition-about">
        <h4>Challenges</h4>

        <p>
          Bring to the table win-win survival strategies to ensure proactive
          domination. At the end of the day, going forward, a new normal that
          has evolved from generation X is on the runway heading towards a
          streamlined cloud solution. User generated content in real-time
        </p>
        <p>
          Podcasting operational change management inside of workflows to
          establish a framework. Taking seamless key performance indicators
          offline to maximise the long tail. Keeping your eye on the ball while
          performing a deep dive on the start-up mentality to derive convergence
          on cross-platform integration.
        </p>
        <p class="condition-about-two">
          Completely synergize resource taxing relationships via premier niche
          markets. Professionally cultivate one-to-one customer service with
          robust ideas.
        </p>
      </div>

      <div class="condition-list">
        <h4>Solutions</h4>
        <ul>
          <li>
            ✓ Provide industry leading customer support via e-mail, chat and
            social media
          </li>
          <li>
            ✓ Improve the customer experience by taking a proactive approach in
            solving
          </li>
          <li>
            ✓ Take ownership of issues and follow problems through to
            resolution.
          </li>
          <li>
            ✓ Assist in developing customer support procedures, policies and
            standards
          </li>
        </ul>
      </div>
      <div class="condition-about">
        <h4>Result</h4>

        <p>
          Bring to the table win-win survival strategies to ensure proactive
          domination. At the end of the day, going forward, a new normal that
          has evolved from generation
        </p>
        <div class="result-counter">
          <div class="row">
            <div class="col-md-4">
              <h1><span class="counter">36</span>%</h1>
              <p class="efficiency-text">Efficiency increased</p>
            </div>
            <div class="col-md-4">
              <h1><span class="counter">10</span>K+</h1>
              <p class="customer-text">New customer gain</p>
            </div>
            <div class="col-md-4">
              <h1><span class="counter">26</span>%</h1>
              <p class="revenu-text">Revenue increased</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="case-details-footer">
  <div class="container">
    <div class="main-heading">
      <h1>Other Case Studies</h1>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card-cases">
          <img
            class="card-img-top"
            src="assets/images/cases-stuides1.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Blush App Design</h5>
            <p class="card-text">
              Podcasting operational change manage inside of workflows to build
              a establish framework done by us.
            </p>
            <a href="#" class="card-link">See Case Study</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-cases">
          <img
            class="card-img-top"
            src="assets/images/cases-stuides2.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Saas App Development</h5>
            <p class="card-text">
              Podcasting operational change manage inside of workflows to build
              a establish framework done by us.
            </p>
            <a href="#" class="card-link">See Case Study</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-cases">
          <img src="assets/images/cases-stuides3.png" alt="" />
          <div class="card-body">
            <h5 class="card-title">Bingo Website Design</h5>
            <p class="card-text">
              Podcasting operational change manage inside of workflows to build
              a establish framework done by us.
            </p>
            <a href="#" class="card-link">See Case Study</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "templates/parts/footer-two.njk" %} {% endblock %}
