{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/parts/header-two.njk" %}
<section class="common-section">
  <div class="container">
    <div class="condition-detiles">
      <div class="main-heading sub-title" >
        <h1 >Terms & Conditions</h1>

      </div>

      <div class="condition-about">
        <p>
          With over 25,000 customers worldwide, Appex is the world leading
          analytics and marketing suite for Instagram and a partner of the
          world's most-loved brands such as National Geographic, Gucci, Marc
          Jacobs, Samsung, Emirates and more.
        </p>
        <p>
          As a Customer Support Specialist, we expect you to be up-to-date with
          the latest digital technologies and social media trends. You should
          have excellent communication skills and be able to assist our
          customers in a fast, efficient and professional manner. If you enjoy
          fixing issues and helping improve the overall customer experience,
          this job is for you!
        </p>
      </div>
      <div class="condition-list">
        <h4 class="main-heading">License</h4>
        <ul>
          <li>
            ✓ Provide industry leading customer support via e-mail, chat and
            social media
          </li>
          <li>
            ✓ Improve the customer experience by taking a proactive approach in
            solving
          </li>
          <li>
            ✓ Take ownership of issues and follow problems through to
            resolution.
          </li>
          <li>
            ✓ Assist in developing customer support procedures, policies and
            standards
          </li>
        </ul>
      </div>
      <div class="condition-about">
        <h4 class="main-heading">Embedded content from other websites</h4>
        <p>
          Articles on this site may include embedded content (e.g. videos,
          images, articles, etc.). Embedded content from other websites behaves
          in the exact same way as if the visiwebsite.
        </p>
        <p>
          These websites may collect data about you, use cookies, embed
          additional third-party tracking, and monitor your interaction with
          that embedded content, including tracking your interaction with the
          embedded content if you have an account and are logged in to that
          website.
        </p>
      </div>
      <div class="condition-about mb-0">
        <h4 class="main-heading">Changes about terms</h4>

        <p class="mb-0">
          If we change our terms of use we will post those changes on this page.
          Registered users will be sent an email that outlines changes made to
          the terms of use.
        </p>
      </div>
    </div>
  </div>
</section>

{% include "templates/parts/footer-two.njk" %} {% endblock %}
