{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/parts/header-two.njk" %}
<section class="common-section">
  <div class="container">
    <div class="question-accordion">
      <div class="main-heading sub-heading">
        <h1>Frequently Asked Question</h1>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="sidenav-accordion">
            <ul>
              <li>
                <a class="active" href="#accordion1">General</a>
              </li>
              <li class="accordion-item">
                <a href="#accordion2">Accounts</a>
              </li>
              <li><a href="#accordion3">Sells</a></li>
              <li>
                <a href="#accordion4">Support License</a>
              </li>
              <li class="accordion-item"><a href="#accordion5">Refund</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-10 offset-lg-3 offset-md-0">
          <div class="faq-question">
            <div class="main" id="accordion1">
              <h4 class="accordin-tybes">General</h4>
              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Can I use appex for my clients?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Do I get free updates?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Does it work with WordPress?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Will you provide support?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Can I use appex for my clients?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>
            </div>
            <div class="main" id="accordion2">
              <h4 class="accordin-tybes">Accounts</h4>
              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Do I get free updates?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Does it work with WordPress?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Will you provide support?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Does appex offer XD & Sketch file ?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>
            </div>
            <div class="main" id="accordion3">
              <h4 class="accordin-tybes">Sales</h4>
              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Can I use appex for my clients?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Can I use appex for my clients?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>
            </div>
            <div class="main" id="accordion4">
              <h4 class="accordin-tybes">Support License</h4>
              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Can I use appex for my clients?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Can I use appex for my clients?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Can I use appex for my clients?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>
            </div>
            <div class="main" id="accordion5">
              <h4 class="accordin-tybes">Refund</h4>

              <div class="accordion">
                <div class="accordion-item">
                  <h3 class="title">
                    <span>Do you offer refunds?</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </h3>
                  <p class="paragraph">
                    Create custom landing pages with appex that converts more
                    visitors than any website. With lots of unique blocks, you
                    can easily build a page without any design or custom coding.
                    with Omega that converts more visitors than any website.
                    Totally clean coded easy to maintain.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "templates/parts/footer-two.njk" %} {% endblock %}
