{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/parts/header.njk" %} 
{% include "templates/home/section-01.njk" %}

{% include "templates/home/section-02.njk" %}
 {% include "templates/home/section-03.njk" %}
{% include "templates/home/section-04.njk" %}
{% include "templates/home/section-05.njk" %}
{% include "templates/home/section-06.njk" %}
{% include "templates/home/section-07.njk" %} 
{% include "templates/parts/footer.njk" %}


{% endblock %}
