<footer class="footer-section">
  <div class="container">
    {# <div class="entrants">
      <div class="entrants-number">
        <p>200K+ People joined us. When are you joining?</p>
      </div>
      <button type="button" class="btn-main">Get Started Now</button>
    </div> #}
    <div class="footer-content">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <h6>THEME PAGES</h6>
          <ul class="footer-links-list">
            <li>
              <a href="#">Home Pages</a>
            </li>
            <li>
              <a href="#">Pricing</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">Team </a>
            </li>
            <li>
              <a href="#">About Us#</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <h6>COMPANY BIO</h6>
          <ul class="footer-links-list">
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a class="footer-links-link" href="#">Help Center</a>
            </li>
            <li>
              <a href="#">Sales Tools Catalog</a>
            </li>
            <li>
              <a href="#">Academy </a>
            </li>
            <li>
              <a href="#">Support</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <h6>PARTNERSHIP</h6>
          <ul class="footer-links-list">
            <li>
              <a href="#">Partners</a>
            </li>
            <li>
              <a href="#">Peseller Program</a>
            </li>
            <li>
              <a href="#">AI Labs</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <h6>GET IN TOUCH</h6>
          <ul class="footer-links-list">
            <li class="pr-5">Contact us any time for getting support.</li>
            <li>
              <a class="email-link" href="#">contact@grayic.com </a>
            </li>
          </ul>
          <ul class="social-links">
            <li>
              <a class="facebook" href=""><i class="fa fa-facebook-f"></i></a>
            </li>

            <li>
              <a class="twitter" href=""><i class="fa fa-twitter"></i></a>
            </li>

            <li>
              <a class="instagram" href="">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
