<nav class="pagination-wrap">
    <ul class="pagination">
    
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true"><i class="fa fa-arrow-right" aria-hidden="true"></i>

        </span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>